<div class="row position-relative">
  <div class="ml-10 col-md-6">
    <app-toggle [name]="content['type']">
      <button class="btn btn-outline-primary mt-1 mb-1" (click)="add()">Dodaj</button>
    </app-toggle>
    <ng-container *ngFor="let c of content.tworcy; let idx=index">
      <div *ngIf="c" class="ml-10 mb-2">
        <app-toggle [name]="c['type']">
          <button class="btn btn-outline-danger mt-1 mb-2" (click)="delete(idx)">Usuń</button>
        </app-toggle>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>@{{c['id']['type']}}</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['id']['value']"  />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>imię</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['imię']"  />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>nazwisko</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['nazwisko']" />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>semestr</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['semestr']" />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>indeks</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['indeks']" />
          </div>
        </div>
        <div class="ml-10">
          <app-toggle [name]="c['kontakt'].type"></app-toggle>
          <div class="row ml-10">
            <div class="col-md-2">
              <label>email</label>
            </div>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="c['kontakt']['email']" />
            </div>
          </div>
          <div class="row ml-10">
            <div class="col-md-2">
              <label>telefon</label>
            </div>
            <div class="col-md-10">
              <input type="text" [(ngModel)]="c['kontakt']['telefon']" />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-6">
    <app-creator-add [content]="content" class="" [ngClass]="{'hidden': !showAdd}"></app-creator-add>
  </div>
</div>
