<div class="row position-relative">
  <div class="ml-10 col-md-6">
    <app-toggle [name]="content['type']">
      <button class="btn btn-outline-primary mt-1 mb-1" (click)="add()">Dodaj</button>
    </app-toggle>
    <ng-container *ngFor="let c of content.ksiazki; let idx=index">
      <div *ngIf="c" class="ml-10 mb-2">
        <app-toggle [name]="c['type']">
          <button class="btn btn-outline-danger mt-1 mb-2" (click)="delete(idx)">Usuń</button>
        </app-toggle>

        <div class="row ml-10">
          <div class="col-md-2">
            <label>@{{c['id']['type']}}</label>
          </div>
          <div class="col-md-10">
            <input type="text" disabled [(ngModel)]="c['id']['value']"/>
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>@{{c['dostepna']['type']}}</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['dostepna']['value']"/>
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>tytuł</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['tytuł']"/>
          </div>
        </div>

        <div class="row ml-10" *ngIf="c['autorzy']['autorzy'] == 'Praca zbiorowa'">
          <div class="col-md-2">
            <label>autorzy</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['autorzy']['autorzy']"/>
          </div>
        </div>

        <div class="ml-10" *ngIf="c['autorzy']['autorzy']['imię']">
          <app-toggle [name]="'autorzy'"></app-toggle>

          <div class="ml-10">
            <app-toggle [name]="'autor'"></app-toggle>

            <div class="row ml-10">
              <div class="col-md-2">
                <label>imię</label>
              </div>
              <div class="col-md-10">
                <input type="text" [(ngModel)]="c['autorzy']['autorzy']['imię']"/>
              </div>
            </div>
            <div class="row ml-10">
              <div class="col-md-2">
                <label>nazwisko</label>
              </div>
              <div class="col-md-10">
                <input type="text" [(ngModel)]="c['autorzy']['autorzy']['nazwisko']"/>
              </div>
            </div>
          </div>
        </div>

          <div class="ml-10" *ngIf="c['autorzy']['autorzy'][0] && !(c['autorzy']['autorzy'] == 'Praca zbiorowa')">
            <app-toggle [name]="'autorzy'"></app-toggle>

            <div *ngFor="let autor of c['autorzy']['autorzy']">
              <div class="ml-10">
                <app-toggle [name]="'autor'"></app-toggle>

                <div class="row ml-10">
                  <div class="col-md-2">
                    <label>imię</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" [(ngModel)]="autor['imię']"/>
                  </div>
                </div>
                <div class="row ml-10">
                  <div class="col-md-2">
                    <label>nazwisko</label>
                  </div>
                  <div class="col-md-10">
                    <input type="text" [(ngModel)]="autor['nazwisko']"/>
                  </div>
                </div>

              </div>
            </div>
          </div>


        <div class="row ml-10">
          <div class="col-md-2">
            <label>język</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['język']" />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>dział</label>
          </div>
          <div class="col-md-10">
            <select [(ngModel)]="c['dział']">
              <ng-container *ngFor="let dep of departments">
                <option *ngIf="dep" [ngValue]="dep['nazwa']"> {{dep['nazwa']}} </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>rok-wydania</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['rokWydania']['value']" />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>cena</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c['cena']" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-md-6">
    <app-books-add
      [content]="content"
      [departments]="departments"
      [ngClass]="{'hidden': !showAdd}"></app-books-add>
  </div>
</div>
