<div class="ml-10">
  <div>
    <button class="btn btn-link p-0 pb-1">+</button>
    <p class="d-inline-block p-1">{{content['type']}}</p>
  </div>
  <ng-container *ngFor="let c of content.definicjaDzialu; let idx=index">
    <div *ngIf="c" class="ml-10 mb-2">
      <button class="btn btn-link p-0 pb-1">+</button>
      <p class="d-inline-block p-1">{{c.type}}</p>
      <button (click)="delete(idx)">Delete</button>
      <div class="row ml-10">
        <div class="col-md-1">
          <label>id</label>
        </div>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="c.id" />
        </div>
      </div>
      <div class="row ml-10">
        <div class="col-md-1">
          <label>nazwa</label>
        </div>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="c.nazwa" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
