<div class="row position-relative">
  <div class="ml-10 col-md-6">
    <app-toggle [name]="content['type']">
      <button class="btn btn-outline-primary mt-1 mb-1" (click)="add()">Dodaj</button>
    </app-toggle>
    <ng-container *ngFor="let c of content.definicjaDzialu; let idx=index">
      <div *ngIf="c" class="ml-10 mb-2">
        <app-toggle [name]="c['type']">
          <button class="btn btn-outline-danger mt-1 mb-2" (click)="delete(idx)">Usuń</button>
        </app-toggle>

        <div class="row ml-10">
          <div class="col-md-2">
            <label>id</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c.id" />
          </div>
        </div>
        <div class="row ml-10">
          <div class="col-md-2">
            <label>nazwa</label>
          </div>
          <div class="col-md-10">
            <input type="text" [(ngModel)]="c.nazwa" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="col-md-6">
    <app-department-add [content]="content" class="" [ngClass]="{'hidden': !showAdd}"></app-department-add>
  </div>
</div>

